@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font: #000000;
    --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font: #ffffff;
        --background: #101018;
    }
}

body {
    color: var(--font);
    background: var(--background);
}
